<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <title>GeoTTN map {{ .Version }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .SelfHostedMap }}
    <script src='{{ .TilesURL }}/mapbox-gl.js'></script>
    <link href='{{ .TilesURL }}/mapbox-gl.css' rel='stylesheet' />
    {{ else }}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
   {{ end }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        #map {
            height: 700px;
            margin-bottom: 10px;
        }

        #map img {
            max-width: none;
            min-width: 0px;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
            <ul class="list-group list-group-flush" id="devices_list">

            </ul>
        </div>
        <div class="col-10">
            <div id='map'></div>
            <div class="row">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-3">Device</dt>
                        <dd class="col-sm-9" id="device_id">No device selected</dd>
                    </dl>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Values</th>
                        </tr>
                        </thead>
                        <tbody id='device_body'>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {{ if not .SelfHostedMap }}
    mapboxgl.accessToken = '{{ .TilesKey }}';
    {{ end }}
    var map = new mapboxgl.Map({
        container: 'map',
        {{ if .SelfHostedMap }}
        style: '{{ .TilesURL }}/osm-liberty-gl.style',
        {{ else }}
        style: 'mapbox://styles/mapbox/streets-v9',
        {{ end }}
        center: [{{ .Lng }}, {{ .Lat }}],
        zoom: 6,
        maxZoom: 15,
        minZoom: 2,
        {{ if .SelfHostedMap}}
        transformRequest: (url, resourceType)=> {
            if(resourceType === 'Tile') {
                return {
                    url: url,
                    headers: { 'X-Key': '{{ .TilesKey }}'}
                }
            }
        }
        {{ end }}
    });
    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());
    // Add geolocate control to the map.
    map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: false
        },
        trackUserLocation: true
    }));
    function urlForBounds() {
        const urlParams = new URLSearchParams(location.search);
        const mapBounds = map.getBounds();
        return "/api/rect/" + mapBounds.getNorthEast().lat + "/" + mapBounds.getNorthEast().lng +
            "/" + mapBounds.getSouthWest().lat + "/" + mapBounds.getSouthWest().lng;
    }
    map.on('load', function () {

        map.addSource('points', {
            type: 'geojson',
            cluster: true,
            clusterRadius: 60,
            data: urlForBounds() });

        map.addLayer({
            id: 'clusters',
            type: 'circle',
            source: 'points',
            paint: {
                'circle-color': {
                    property: 'point_count',
                    type: 'interval',
                    stops: [
                        [0, '#41A337'],
                        [100, '#2D7026'],
                        [750, '#0B5703'],
                    ]
                },
                'circle-radius': {
                    property: 'point_count',
                    type: 'interval',
                    stops: [
                        [0, 20],
                        [100, 30],
                        [750, 40]
                    ]
                }
            }
        });

        map.addLayer({
            id: 'cluster-count',
            type: 'symbol',
            source: 'points',
            filter: ['has', 'point_count'],
            layout: {
                'text-field': ["get", "point_count"],
                'text-size': 20
            }
        });


        map.addLayer({
            "id": "points",
            "type": "symbol",
            "source": "points",
            "filter": ['!has', 'point_count'],
            "layout": {
                {{ if .SelfHostedMap }}
                "icon-image": "marker_11",
                {{ else }}
                "icon-image": "triangle-15",
                {{ end }}
                "text-field": ["get", "device_id"],
                "text-variable-anchor": ["top"],
                "text-justify": "auto",
                "text-radial-offset": 0.6,
            }
        });

        const xhr = new XMLHttpRequest();
        xhr.open('GET', "/api/devices", true);
        xhr.onload = function() {
            if (xhr.status !== 200) {
                return;
            }
            let data = JSON.parse(xhr.responseText);

            const devicelist = document.getElementById('devices_list');
            devicelist.innerHTML = '<li class="list-group-item">Devices List</li>';

            data.forEach(function (value) {
                devicelist.innerHTML += `<li class="list-group-item"><button type="button" class="btn btn-link">` + value + `</button></li>`;
            });

            let btns = document.getElementsByClassName( 'btn' );

            for ( let btn of btns ) {
                btn.onclick = function() {
                    console.log(this.textContent);
                    const bxhr = new XMLHttpRequest();

                    bxhr.open('GET', "/api/data/" + this.textContent, true);
                    bxhr.onload = function() {
                        if (xhr.status !== 200) {
                            return;
                        }
                        let data = JSON.parse(bxhr.responseText);

                        const devicediv = document.getElementById('device_id');
                        devicediv.innerHTML = data[0].device_id;

                        const devicebody = document.getElementById('device_body');
                        devicebody.innerHTML = '';

                        map.flyTo({
                            center: [ data[0].lng, data[0].lat ],
                            zoom: 13,
                            bearing: 0,
                        });
                        data.forEach(function (value) {
                            let html = '<tr><td>' + value["time"] + '<td>';

                            for (let key of Object.keys(value)) {
                                if (key === 'time' || key === 'device_id') { continue; }
                                html += key + ":" + value[key] + " ";
                            }
                            html += '</td></tr>';

                            devicebody.innerHTML += html;
                        });

                    };
                    bxhr.send();
                }
            }

        };
        xhr.send();
    });
    map.on('click', 'points', function (e) {
        const key = e.features[0].properties.device_id;
        const coordinates = e.features[0].geometry.coordinates.slice();

        const xhr = new XMLHttpRequest();
        xhr.open('GET', "/api/data/" + "/" + key, true);
        xhr.onload = function() {
            if (xhr.status !== 200) {
                return;
            }
            let data = JSON.parse(xhr.responseText);
            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            var htmlData = "";
            for (let key of Object.keys(data[0])) {
                if (key === 'device_id') { continue; }
                htmlData += key + ":" + data[0][key] + "<br>";
            }

            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(htmlData)
                .addTo(map);

            const devicediv = document.getElementById('device_id');
            devicediv.innerHTML = data[0].device_id;

            const devicebody = document.getElementById('device_body');
            devicebody.innerHTML = '';

            data.forEach(function (value) {
                let html = '<tr><td>' + value["time"] + '<td>';

                for (let key of Object.keys(value)) {
                    if (key === 'time' || key === 'device_id') { continue; }
                    html += key + ":" + value[key] + " ";
                }
                html += '</td></tr>';

                devicebody.innerHTML += html;
            });

        };
        xhr.send();
    });
    map.on('moveend', function () {
        map.getSource('points').setData(urlForBounds());
    });
</script>
</body>
</html>

